button.nav-btn {
	border: 1px solid #34deeb;
}
button.nav-btn:hover {
	background-color: #34deeb;
}
.modal-title {
	display: block;
	margin: auto;
}
.modal-img {
	display: block;
	margin: auto;
}
.modal-btn {
	display: block;
	margin: auto;
}
.col-img {
	margin-bottom: 15px;
}
.modal-btn {
	display: block;
	margin: auto;
}
div.ourclass {
	text-align: center;
	background: #fff;
}
div.ourclass h2.services {
	color: #14bae3;
	font-size: 40px;
	margin-top: 30px;
	margin-bottom: 0;
	font-weight: 600;
}
div.boxing {
	box-shadow: 0 0 4px 2px rgba(0,0,0,.12);
	margin: 24px;
	padding: 36px 24px 40px 24px;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom: 5px solid #14bae3;
	background: #fff;
	
}
label.label2 {
	font-size: 32px;
	font-weight: 500;
}
p {
	font-size: 20px;
	line-height: 1.2;
	
}
div.imageicon img {
	border-radius: 50%;
}

.our-services-wrapper {
	box-shadow: 0 0 2px 1px rgba(0,0,0,.12);
	background: #fff;
	padding-right: 24px;
}
	
h2.request {
	color: #14bae3;
	text-align: center;
}	
	
label.form-label {
	font-weight: 700;
	margin-bottom: 0;
}	
	
form.request-form {
	background-color: #f2f1f1;
}	
.requst-wrapper {
	margin-top: 30px;
}	
	

.form-btn {
	background-color: #14bae3;
	width: 200px;
}
.form-btn:hover {
	background-color: #14bae3;
}

footer.footer-dark {
	margin-top: 30px;
	color: #fff;
}

.our-partners {
	margin: 5px;
	padding: 10px;
}










































	
	
	
	
	
	
	
	
	
	